* { 	box-sizing: border-box; }

body { 	background-image: linear-gradient(to bottom right, rgb(255, 102, 0), rgb(255, 152, 51));
       	font-family: Courier New, sans-serif;
		font-size: 1.2em;
}

#wrapper { 	width: 70%;

		margin: auto;
		color: rgb(102, 255, 255);
		/*box-shadow: 5px 5px 5px #593000;*/
}

header {
     	background-repeat: no-repeat;
     	background-image: linear-gradient(to top left, rgb(255, 0, 255), rgb(255, 0, 102));
}

h1 {  	font-family: 'Brush Script MT', cursive;
		text-shadow: 3px 3px 3px #593000;
      	margin-top: .5em;
		margin-bottom: 0em;
		font-size: 3.5em;
		padding-left: 70px;
}

nav { 	margin: auto; 
		border: 5px solid #593000;
}
nav ul { list-style-type: none; 
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
}
nav li {
       	font-weight: bold;
		display: inline;
       	padding: .25em;
}
nav a { text-decoration: none; 
		font-size: 1.5em;
}
nav a:link { color: #fcdce6; }
nav a:visited { color: #fcdce6; }
nav a:hover { color: #d9bdc5; }

main { 	background-image: linear-gradient(to bottom left, rgb(255, 0, 255), rgb(255, 0, 102));
        padding: 1px 20px 20px 20px;   
		min-height: 300px;
		display: block;
}

main img { float: right;
         padding: 20px;
}

footer { background-color: rgb(222, 118, 0, 0);
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}

@media (min-width: 1425px) {
	#wrapper { 
		width: 90%;
        margin: auto;
		display: grid;
		grid-template-rows: 130px auto;
		grid-template-columns: 200px auto; 
		nav a { font-size: 1.1em; 
		text-align: center;
		background-image: rgb(255, 0, 255);
		}
  	}
  	header { grid-row: 1 / 4; grid-column: 1 / 4; }
  	nav { grid-row: 1 / 4; grid-column: 3 / 4; }
  	main { grid-row: 4 / 4; grid-column: 1 / 4; }
  	footer { grid-row: 5 / 5; grid-column: 1 / 4; }
  	nav ul { flex-direction: row; }
}